/*
*
*
*   Chaney Painting Styles
*
*
*
*/
/*
*   Fonts
*/
@import url(https://fonts.googleapis.com/css?family=Raleway:300|EB+Garamond|Satisfy);
@font-face {
  font-family: 'cp-icons';
  src: url("fonts/chaney.eot");
  src: url("fonts/chaney.eot") format("embedded-opentype"), url("fonts/chaney.ttf") format("truetype"), url("fonts/chaney.woff") format("woff"), url("fonts/chaney.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="cp-icon-"], [class*=" cp-icon-"] {
  font-family: 'cp-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  [class^="cp-icon-"]::after, [class*=" cp-icon-"]::after {
    padding-left: .5em; }

.cp-icon-twitter {
  color: #65CCEF !important; }
  .cp-icon-twitter:before {
    content: "\e900"; }

.cp-icon-google {
  color: #4285F4 !important; }
  .cp-icon-google:before {
    content: "\e901"; }

.cp-icon-pintrist {
  color: #bd081c !important; }
  .cp-icon-pintrist:before {
    content: "\e902"; }

.cp-icon-facebook {
  color: #3b5998 !important; }
  .cp-icon-facebook:before {
    content: "\e903"; }

.cp-icon-youtube {
  color: #cd201f !important; }
  .cp-icon-youtube:before {
    content: "\e904"; }

.cp-icon-linkedin {
  color: #0077B5 !important; }
  .cp-icon-linkedin:before {
    content: "\e905"; }

.cp-icon-phone:before {
  content: "\e912"; }

.cp-icon-email:before {
  content: "\e915"; }

.cp-icon-office:before {
  content: "\e913"; }

.cp-icon-license:before {
  content: "\e914"; }

/*
*   Global Variables
*/
/*
*   Global
*/
body, html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #7F878A; }
  body h1, html h1 {
    font-size: 2.969rem;
    font-family: "EB Garamond", serif; }
  body h2, html h2 {
    font-size: 2rem;
    font-family: "Raleway", sans-serif;
    margin-bottom: 0;
    color: #004259; }
  body h3, html h3 {
    font-size: 1.484rem;
    font-family: "Raleway", sans-serif;
    margin-bottom: 0;
    color: #004259; }
  body a, body button, html a, html button {
    font-family: "Raleway", sans-serif;
    font-size: 1rem; }
  body span, body p, html span, html p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem; }
  body p, html p {
    color: #333333;
    line-height: 1.7em;
    margin: 15px 0; }
  body section, html section {
    margin-top: 75px; }

.cp-hidden {
  display: none !important; }

.dripPath {
  transition: fill ease-in-out 2s; }

.cp-cta {
  display: inline-block;
  margin: 5px 0;
  padding: 5px 10px;
  background-color: #004259;
  color: #ffffff;
  border: none;
  outline: none;
  transition: background-color .2s ease-in-out; }
  .cp-cta:hover {
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    transition: background-color .2s ease-in-out;
    background-color: #002f40; }
  .cp-cta:hover, .cp-cta:active {
    outline: none; }

/*
*   Header
*/
header {
  background-color: #ffffff;
  z-index: 100;
  width: 100%;
  height: 100px;
  box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0; }
  header div.cp-nav-img {
    float: left;
    height: 100px;
    padding: 15px 0; }
    header div.cp-nav-img svg {
      height: 100%;
      width: 80px; }
    header div.cp-nav-img img {
      vertical-align: top;
      height: 100%;
      width: auto; }
  header div.cp-nav-links {
    float: right;
    height: 100px; }
    header div.cp-nav-links ul {
      margin: 0;
      height: 100px;
      width: auto;
      padding: 0 10px; }
      header div.cp-nav-links ul li {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        float: left;
        height: 100px;
        width: 110px;
        padding: 0 15px;
        position: relative;
        overflow: hidden; }
        header div.cp-nav-links ul li a {
          text-transform: uppercase;
          -ms-flex: 0 1 auto;
          flex: 0 1 auto;
          -ms-flex-item-align: center;
          align-self: center;
          z-index: 200;
          transition: color .5s ease-in-out;
          color: #7F878A; }
        header div.cp-nav-links ul li svg {
          width: 110px;
          height: auto;
          position: absolute;
          top: -266px;
          left: 0;
          transition: top .5s ease-in-out;
          overflow: visible; }
        header div.cp-nav-links ul li:hover svg {
          transition: top .5s ease-in-out;
          top: -2px; }
        header div.cp-nav-links ul li:hover a {
          transition: color .5s ease-in-out;
          color: #ffffff;
          text-decoration: none; }

/*
*   First Landing Section
*/
.cp-landing-section {
  position: relative;
  height: 700px;
  overflow: hidden; }
  .cp-landing-section img {
    width: 100%;
    height: auto; }
  .cp-landing-section div.cp-landing-overlay {
    position: absolute;
    top: 0;
    right: 15px;
    padding: 20px;
    height: 100%;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.7); }
    .cp-landing-section div.cp-landing-overlay p {
      color: #ffffff; }

/*
*   About Section
*/
.cp-about-section div.cp-employee {
  margin-bottom: 50px; }
  .cp-about-section div.cp-employee .cp-about-img {
    border: 1px solid transparent;
    border-radius: 50%;
    overflow: hidden; }
    .cp-about-section div.cp-employee .cp-about-img img {
      width: 100%;
      height: auto; }
  .cp-about-section div.cp-employee span {
    text-align: center;
    display: block;
    font-family: "EB Garamond", serif; }
    .cp-about-section div.cp-employee span.cp-about-name {
      margin-top: 5px;
      font-family: "Satisfy", cursive;
      font-size: 1.484rem; }
    .cp-about-section div.cp-employee span.cp-about-title {
      font-family: "Raleway", sans-serif;
      font-size: 1rem;
      font-weight: 600; }

/*
*   Paralax Price Section
*/
.cp-paralax-price-container {
  background-image: url(images/paint.jpg);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  width: 100%; }
  .cp-paralax-price-container div.cp-price {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid transparent;
    padding: 35px;
    border-radius: 12px;
    margin-top: 150px;
    margin-bottom: 150px; }
    .cp-paralax-price-container div.cp-price p {
      color: #333333; }
    .cp-paralax-price-container div.cp-price h2 {
      margin: 0; }

/*
*   Services Section
*/
.cp-services-section .cp-service > div {
  border: 1px solid transparent;
  border-radius: 4px;
  height: 200px;
  overflow: hidden; }
  .cp-services-section .cp-service > div img {
    width: 100%;
    height: auto; }

/*
*   Gallery Section
*/
.cp-gallery-section .cp-gallery-tiles {
  max-height: 550px;
  overflow: hidden; }
  .cp-gallery-section .cp-gallery-tiles .cp-gallery-tile {
    overflow: hidden;
    height: 250px;
    margin-top: 25px; }
    .cp-gallery-section .cp-gallery-tiles .cp-gallery-tile > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 1px solid transparent;
      border-radius: 4px; }

.cp-gallery-section .cp-cta {
  margin-left: calc(50% - 50px);
  margin-top: 20px; }

/*
*   Contact Section
*/
.cp-contact-section .cp-contact-details {
  margin-top: 20px; }
  .cp-contact-section .cp-contact-details > div {
    margin: 10px 0;
    display: block; }
    .cp-contact-section .cp-contact-details > div > span:not(.cp-contact-lic) {
      color: #333333 !important;
      margin-right: 5px; }
    .cp-contact-section .cp-contact-details > div a, .cp-contact-section .cp-contact-details > div span, .cp-contact-section .cp-contact-details > div .cp-contact-lic {
      color: #7F878A;
      font-size: 1rem; }
    .cp-contact-section .cp-contact-details > div .cp-contact-address {
      display: block;
      margin-left: 25px; }

.cp-contact-section form {
  margin-top: 15px; }
  .cp-contact-section form > div {
    width: 100%;
    margin: 10px 0; }
    .cp-contact-section form > div > input, .cp-contact-section form > div textarea {
      border: 2px solid #dddddd;
      border-radius: 4px; }
    .cp-contact-section form > div > input {
      width: 49%;
      padding: 10px;
      display: inline-block; }
      .cp-contact-section form > div > input:first-child {
        margin-right: 1%; }
    .cp-contact-section form > div > textarea {
      padding: 10px;
      width: 100%;
      height: 200px; }

/*
*   Footer
*/
footer {
  height: 200px;
  padding-top: 100px; }
  footer > div {
    display: table;
    margin: 0 auto; }
    footer > div svg {
      width: 100px;
      height: 110px; }
  footer .cp-footer-social {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px; }
    footer .cp-footer-social a:hover,
    footer .cp-footer-social a:active,
    footer .cp-footer-social a:visited,
    footer .cp-footer-social a:focus {
      text-decoration: none; }
    footer .cp-footer-social span {
      font-size: 2.969rem;
      margin: 0 10px; }
  footer .cp-footer-copy {
    text-align: center;
    margin-bottom: 50px; }
  footer .cp-footer-logo {
    width: 10%;
    position: relative;
    left: 45%;
    height: auto; }
  footer .cp-footer-logo-text {
    width: 25%;
    position: relative;
    left: 37.5%;
    height: auto; }
