/*
*
*
*   Chaney Painting Styles
*
*
*
*/

/*
*   Fonts
*/
@import url(https://fonts.googleapis.com/css?family=Raleway:300|EB+Garamond|Satisfy);
@font-face {
	font-family: 'cp-icons';
	src:url('fonts/chaney.eot');
	src:url('fonts/chaney.eot') format('embedded-opentype'),
		url('fonts/chaney.ttf') format('truetype'),
		url('fonts/chaney.woff') format('woff'),
		url('fonts/chaney.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="cp-icon-"], [class*=" cp-icon-"] {
    font-family: 'cp-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &::after {
        padding-left: .5em;
    }
}

.cp-icon-twitter {
	&:hover {
    	color: #65CCEF !important;
	}
    &:before {
        content: "\e900";
    }
}

.cp-icon-google {
	&:hover {
    	color: #4285F4 !important;
	}
    &:before {
        content: "\e901";
    }
}

.cp-icon-pintrist {
	&:hover {
    	color: #bd081c !important;
	}
    &:before {
        content: "\e902";
    }
}

.cp-icon-facebook {
	&:hover {
    	color: #3b5998 !important;
	}
    &:before {
        content: "\e903";
    }
}

.cp-icon-youtube {
	&:hover {
    	color: #cd201f !important;
	}
    &:before {
        content: "\e904";
    }
}

.cp-icon-linkedin {
	&:hover {
    	color: #0077B5 !important;
	}
    &:before {
        content: "\e905";
    }
}

.cp-icon-phone:before {
    content: "\e912";
}

.cp-icon-email:before {
    content: "\e915";
}

.cp-icon-office:before {
    content: "\e913";
}

.cp-icon-license:before {
    content: "\e914";
}


/*
*   Global Variables
*/
// Body images
$cp-main-image: url(images/ss_wall.jpg);
$cp-main-image: url(images/un_house_sm.jpg);
// Fonts
$cp-font-heading: 'EB Garamond', serif;
$cp-font-title: 'Raleway', sans-serif;
$cp-font-body: Arial, Helvetica, sans-serif;
$cp-font-script: 'Satisfy', cursive;
// Font Sizes
$cp-font-size-base: 16px;
$cp-font-size-xxl:2.969rem;     // 47.5px
$cp-font-size-xl:2rem;          // 32px
$cp-font-size-lg:1.484rem;      // 23.7px
$cp-font-size-md:1rem;          // 16px
$cp-font-size-sm:0.742rem;      // 11.8px
$cp-font-size-xs:0.5rem;        // 8px
$cp-font-size-xxs:0.371rem;     // 5.9px
// Colors
$cp-blue: #004259; // Chaney
$cp-blue: #00aeef; // Light
// $cp-blue: #6b97b0; // un
$cp-brown: #775E53;
$cp-tan: #A29588;
$cp-primary: $cp-blue;
$cp-secondary: $cp-brown;
$cp-primary-active: darken($cp-primary, 5%);
$cp-grey: #7F878A;
$cp-grey-active: lighten($cp-grey, 5%);
$cp-charcoal: #333333;
$cp-overlay-light: rgba(255,255,255,0.7);
$cp-overlay-dark: rgba(0,0,0,0.6);
$cp-offwhite: #dddddd;

// Spacing
$cp-space: 5px;
$cp-bs-space: 15px;
@function cp-spacing($x) {
    @return $x * $cp-space;
}
$cp-section-top-margin: cp-spacing(15);

/*
*   Global
*/
body, html {
    font-family: $cp-font-body;
    font-size: $cp-font-size-base;
    color: $cp-charcoal;
    h1 {
        font-size: $cp-font-size-xxl;
        font-family: $cp-font-heading;
    }
    h2 {
        font-size: $cp-font-size-xl;
        font-family: $cp-font-title;
        margin-bottom: cp-spacing(2);
        color: $cp-primary;
		font-weight: 200;
    }
    h3 {
        font-size: $cp-font-size-lg;
        font-family: $cp-font-title;
        margin-bottom: 0;
        color: $cp-primary;
		font-weight: 200;
    }
	.cp-h-ondark {
		color: #fff;
	}
    a, button {
        font-family: $cp-font-title;
        font-size: $cp-font-size-md;
    }
    span, p {
        font-family: $cp-font-body;
        font-size: $cp-font-size-md;
    }
    p {
        color: $cp-grey;
        line-height: 1.7em;
        margin: cp-spacing(3) 0;
		margin-top: 0;
		&.cp-p-ondark {
			color: #fff;
		}
    }
    section {
        margin-top: $cp-section-top-margin;
    }

	.cp-hidden {
	    display: none !important;
	}
	.dripPath {
	    transition: fill ease-in-out 3.5s;
	}
	.cp-cta {
	    display: inline-block;
	    margin: cp-spacing(1) 0;
	    padding: cp-spacing(1) cp-spacing(2);
	    background-color: $cp-primary;
	    color: #ffffff;
	    border: none;
	    outline: none;
	    transition: all .2s ease-in-out;
	    &:hover {
	        text-decoration: none;
	        cursor: pointer;
	        color: #ffffff;
	        transition: all .2s ease-in-out;
	        background-color: $cp-primary-active;
	    }
	    &:hover,
	    &:active {
	        outline: none;
	    }

	}

	.cp-cta-on-dark {
	    display: inline-block;
	    margin: cp-spacing(1) 0;
	    padding: cp-spacing(1) cp-spacing(2);
	    background-color: transparent;
	    color: #ffffff;
	    border: 1px solid #ffffff;
	    outline: none;
	    transition: all .2s ease-in-out;
	    &:hover {
	        text-decoration: none;
	        cursor: pointer;
	        color: $cp-primary;
	        transition: all .2s ease-in-out;
	        background-color: #ffffff;
	    }
	    &:hover,
	    &:active {
	        outline: none;
	    }
	}

	input, textarea {
		border: 2px solid $cp-offwhite;
		// border-radius: 4px;
		padding: cp-spacing(2);
	}
}


/*
*   Header
*/

$cp-header-height: 80px;
$cp-header-li-width: 110px;

header {

	border-bottom: 1px solid #eeeeee;

    background-color: #ffffff;
    z-index: 100;
    width: 100%;
    height: $cp-header-height;
    // box-shadow: 0 3px 14px 0 rgba(0,0,0,0.75);
    position: fixed;
    top: 0;
    div.cp-nav-img {
        float: left;
        height: $cp-header-height;
        padding: cp-spacing(3) 0;
        img {
            height: 100%;
            width: auto;
        }
    }
    div.cp-nav-links {
        float: right;
        height: $cp-header-height;
        ul {
            margin: 0;
            height: $cp-header-height;
            width: auto;
            padding: 0;
			padding-left: cp-spacing(2);

            li {
                display: flex;
                justify-content: center;
                float: left;
                height: $cp-header-height;
                width: $cp-header-li-width;
                // padding: 0 cp-spacing(3);
                position: relative;
                overflow: hidden;
                a {
                    text-transform: uppercase;
                    flex: 0 1 auto;
                    align-self: center;
                    z-index: 200;
                    transition: color .5s ease-in-out;
                    color: $cp-grey;
					&:hover {
						cursor: pointer;
					}
                }
                &:hover {
                    a {
                        transition: color .5s ease-in-out;
                        // color: #ffffff;
						color: $cp-primary;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

/*
*	Spacer that starts body below fixed header
*/
div.cp-header-normalizer {
	height: $cp-header-height;
	width: 100%;
}

/*
*   First Landing Section
*/

.cp-landing-section {

    height: 700px;
    overflow: hidden;
	margin-top: 0;
	position: relative;

	background-image: url(images/un_house.jpg);
	background-image: $cp-main-image;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;

	display: flex;
	align-content: flex-start;
	align-items: center;

	> div.row {
		flex: 1 1 auto;
	}

    div.cp-landing-content {

		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 400px;
		margin: 0 auto;
		color: #fff;

		h1 {
			margin: 0;
		}

		$cp-landing-slider-height: 100px;

		> div.cp-landing-slider {
			height: $cp-landing-slider-height;
			overflow: hidden;
			min-height: $cp-landing-slider-height;
			width: 100%;
			blockquote {
				position: relative;
				display: none;
				margin: 0;
				margin-top: cp-spacing(4);
				margin-bottom: cp-spacing(3);
				padding-left: 20px;
				border-left: 6px solid $cp-primary;
				&:first-child {
					display: block;
				}
			}
		}
		a {
			margin: cp-spacing(2);
		}

    }

	.cp-roller-controls {
		position: absolute;
		right: cp-spacing(2);
		top: calc(50% - 50px);
		button {
			border: 1px solid #fff;
			border-radius: 50%;
			padding: 0;
			margin: 0;
			margin: cp-spacing(2) 0;
			display: block;
			width: cp-spacing(3);
			height: cp-spacing(3);
			background-color: transparent;
			&:hover {
				background-color: #fff;
			}
		}
	}
}


/*
*   About Section
*/



.cp-about-section {
	padding-bottom: cp-spacing(15);
	.cp-employee-boxes {

		height: 340px;

	    div.cp-employee {

			position: relative;
			width: 33.3322%;
			float: left;
			height: 170px;
			padding: 5px;
			margin: 0;
			overflow: hidden;

			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
				object-position: center;
			}

		}
	}
}


/*
*   Paralax Price Section
*/

.cp-paralax-price-container {

    background-image: url(images/chaney_landing_bg.jpg);
	background-image: $cp-main-image;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
	padding: cp-spacing(7) 0;

	div.cp-price-icon-col {
		// padding: cp-spacing(12) 0;
		display: flex;
		// align-content: flex-start;
		align-items: center;

		img {
			height: 100%;
			width: auto;

		}
	}

    div.cp-price {

		$cp-price-space: cp-spacing(10);

        padding: 0;
        margin-top: $cp-price-space;
        margin-bottom: $cp-price-space;
		position: relative;

		> div.cp-price-content {
			// background-color: $cp-overlay-light;
			position: relative;
			text-align: center;
			z-index: 50;
			padding: 0 cp-spacing(7);
			// border-radius: 4px;
			border: 1px solid transparent;

			p {
				// color: #ffffff;
				// color: $cp-charcoal;
			}

			h2 {
				margin: 0;
			}

			p {

			}

		}
    }
}


/*
*   Services Section
*/

$cp-service-img-height: 200px;

.cp-services-section {
    .cp-service {
        > div {
            border: 1px solid transparent;
            // border-radius: 4px;
            height: $cp-service-img-height;
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}


/*
*   Gallery Section
*/

$cp-gallery-screen-height: 600px;
$cp-gallery-tile-height: 250px;

.cp-gallery-section {

    .cp-gallery-tiles {
        max-height: $cp-gallery-tile-height * 2 + cp-spacing(10);
        overflow: hidden;
        .cp-gallery-tile {
            overflow: hidden;
            height: $cp-gallery-tile-height;
            margin-top: cp-spacing(5);
            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border: 1px solid transparent;
                // border-radius: 4px;
            }
        }
    }
    .cp-cta {
        margin-left: calc(50% - 50px);
        margin-top: cp-spacing(4);
    }

}





/*
*   Contact Section
*/


.cp-contact-section {
	.cp-assurance {
		font-style: italic;
		position: relative;
		bottom: 7px;
		font-size: $cp-font-size-sm;
	}
    .cp-contact-details {
        margin-top: cp-spacing(4);
        > div {

            margin: cp-spacing(2) 0;
            display: block;

            > span:not(.cp-contact-lic) {
                color: $cp-charcoal !important;
                margin-right: cp-spacing(1);
            }
            a, span, .cp-contact-lic {
                color: $cp-charcoal;
                font-size: $cp-font-size-md;
            }
            .cp-contact-address {
                display: block;
                margin-left: 25px;
            }
        }
    }

	.cp-val-input {
		width: 50px;
	}

	.cp-validation-message {
		color: red;
		display: block;
		padding: cp-spacing(2) 0;
		list-style: none;
		display: none;
	}

	button {
		float: right;
	}

    form {

		margin-top: cp-spacing(3);

        > input, textarea {
            width: 100%;
            margin: cp-spacing(2) 0;
        }

		textarea {
			height: 200px;
		}

    }
	.cp-contact-col-right {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;

		img {
			height: 230px;
			width: auto;
		}
	}
}



/*
*	Social Media Section
*/
section.cp-social-media-section {
	background-image: $cp-main-image;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	padding: cp-spacing(15) 0;

	.cp-social {
		text-align: center;
		a {
			margin: 0 cp-spacing(1);
			color: #fff;
			span {
				font-size: $cp-font-size-xxl;

			}
			&:hover,
			&:active,
			&:focus {
				text-decoration: none;
			}
		}
	}
}



/*
*   Footer
*/

footer {

	background-color: #fff;
	text-align: center;
	color: $cp-grey;
	padding: cp-spacing(2);

}








// End
